<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.com.wfiis.android.buddyfinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuddyFinder">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".views.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
        <activity android:name=".views.EventCreatorDialog"
            android:screenOrientation="portrait" />
        <activity android:name=".views.EventDetailsDialog"
            android:screenOrientation="portrait" />
        <activity android:name=".views.ChatDialog"
            android:screenOrientation="portrait" />
        <activity android:name=".views.MapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".views.LoginDialog"
            android:screenOrientation="portrait" />
        <activity android:name=".views.RegisterDialog"
            android:screenOrientation="portrait" />
    </application>

</manifest>